@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css');

body {
  margin: 10;
  font-family: 'Arial', sans-serif;
  background-color: #83a1de;
  color: #fff;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  position: fixed;
  height: 100vh;
  width: 100vw;
  background-color: #83a1de;
}

.header {
  display: flex;
  align-items: middle;
  justify-content: space-between;
  width: 90%;
  padding: 20px;
  background-color: transparent;
  position: middle;
  top: 0;
  left: 0;
  z-index: 100;
}

.logo {
  display: flex;
  align-items: center;
}

.circle {
  height: 0px;
  width: 20px;
  background-color: rgb(21, 46, 71);
  border-radius: 25%;
  margin-right: 5px;
}

h1 {
  font-size: 1em;
  font-weight: bold;
  color: rgb(255, 255, 255);
}

nav ul {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
  text-align: center;
  transform: matrix();
  bottom: default;
}

nav li {
  margin-left: 10px;
}

nav a {
  text-decoration: none;
  color: #fff;
  font-weight: bold;
}

.content {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 80%;
  margin-top: 100px; /* Adjusted to account for fixed header */
}

.text-content {
  flex: 1;
}

.text-content h1 {
  font-size: 4em;
  line-height: 1.2;
}

.text-content p {
  font-size: 1.2em;
  margin: 20px 0;
}

button {
  padding: 15px 30px;
  border: none;
  background-color: rgb(182, 182, 211);
  color: #fff;
  font-size: 1em;
  font-weight: bold;
  cursor: pointer;
}

.image-content {
  position: relative;
  width: 400px;
  height: 400px;
  flex: 1;
}

.planet img {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  object-fit: cover;
}

.orbit-container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 800px;
  height: 800px;
}

.orbit {
  position: absolute;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  border: 2px dashed #fff;
  animation: rotate 10s linear infinite;
}

.orbit1 {
  animation-duration: 20s;
}

.icon-circle {
  position: absolute;
  width: 50px;
  height: 50px;
  background-color: #8692cf;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;
  border: 2px solid rgb(105, 105, 113);
}

.icon-circle img {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  object-fit: cover;
}

.icon-circle:nth-child(2) {
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #919db8;
  width: 80px;
  height: 80px;
}

.icon-circle.bank {
  top: 10%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.icon-circle.money {
  top: 50%;
  left: 10%;
  transform: translate(-50%, -50%);
}

.icon-circle.user-group {
  top: 10%;
  left: 90%;
  transform: translate(-50%, -50%);
}

.icon-circle.community {
  top: 50%;
  left: 90%;
  transform: translate(-50%, -50%);
}

@keyframes rotate {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.icon-circle:hover {
  background-color: #10388f;
  transform: scale(1.2);
}
